html {
  font-size: 20px;
}

main {
  flex-direction: row;
  gap: 120px;
}

.text {
  text-align: left;
}

.image--purple {
  width: 450px;
  height: 80%;
  border-radius: 0% 0% 50% 50% / 0% 0% 40% 40%;
  transform: translate(-10%);
}

.image--purple-soft {
  width: 450px;
  height: 80%;
  border-radius: 50% 50% 0% 0% / 40% 40% 0% 0%;
  transform: translate(10%);
}
